* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}


li,
a {
  color: #878787;
  text-decoration: none;
  list-style: none;
}
a {
  display: inline-block;
}

/* LAYOUT STRUCTURE */
.container {
  height: calc(100vh - 50px);
  display: flex;
  align-items: stretch;
}
.container-aside {
  flex-basis: 15%;
  justify-content: space-between;
  padding: 15px;
}
.container-aside,
.aside-1,
.aside-2,
.aside-1a,
.aside-1b {
  display: flex;
  flex-direction: column;
}

.container-main {
  flex-basis: 85%;
  overflow: auto;
}

.soundbar {
  width: 100%;

  display: flex;
  /* justify-content: space-between; */
  background-color: #282828;
  position: fixed;
  left: 0;
  bottom: 0;
  

}


/* ASIDE NAVIGATOR */
.container-aside {
  background-color: #000000;
  color: white;
}
.home {
  filter: invert(10%) sepia(0%) saturate(0%) hue-rotate(204deg) brightness(93%)
  contrast(87%);
  height: 30px;
}
.search,
.library {
  filter: invert(54%) sepia(0%) saturate(0%) hue-rotate(153deg) brightness(99%)
  contrast(88%);
  height: 30px;
}
.aside-1,
.aside-2 {
  gap: 20px;
}
.aside-1a,
.aside-1b {
  gap: 8px;
}
.aside-1a span {
  line-height: 30px;
  vertical-align: top;
}
.aside-1a-logo img {
  height: 50px;
  margin-bottom: 10px;
}
.aside-1b ul li a {
  line-height: 35px;
}
.aside-1b div i {
  font-size: 40px;
}
.aside-1b div span {
  line-height: 40px;
  vertical-align: top;
  margin-left: 10px;
  font-weight: bold;
}
.aside-2a {
  border-bottom: 1px solid white;
  padding-bottom: 4px;
}
.aside-2a a span {
  vertical-align: top;
  line-height: 20px;
  margin-left: 5px;
  font-size: 13px;
}
.aside-2b a span {
  vertical-align: top;
  line-height: 30px;
  margin-left: 5px;
  color: white;
  font-weight: bold;
}
.aside-2a a img {
  height: 20px;
}
.aside-2b a img {
  height: 30px;
  width: 30px;
  background-color: #878787;
  border-radius: 50%;
}
.aside-1a-home a:hover > img,
.aside-1a-search a:hover > img,
.aside-1a-library a:hover > img {
  filter: none;
}
.aside-1a-home a:hover > span,
.aside-1a-search a:hover > span,
.aside-1a-library a:hover > span,
.aside-1b a:hover,
.aside-2a a:hover > span {
  color: white;
}
.aside-1a-home {
  position: relative;
}
.aside-1a-home::before {
  content: "";
  display: block;
  height: 34px;
  width: 3px;
  background-color: #adff2f;
  position: absolute;
  left: -15px;
}

/* MUSIC SELECTOR */
.container-main {
  background-color: #141922;
}
.main-upgrade {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #080b12;
  height: 80px;
  padding:15px;
}

.main-navigator ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px
}
.main-upgrade a {
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 40px;
  font-weight: bold;
  color: white;
}
.main-navigator ul {
  height: 60px;
}
.main-navigator ul a {
  padding: 5px 10px
}
.main-section {
  padding:15px;
  flex-basis: 100%;
}
.main-section-1a {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  color: white
}
.main-section-1a p {
  color: #878787;
  line-height: 35px;
}
.main-section-1b {
  display:flex;
  flex-wrap: wrap;
  gap: 20px;
  
}
.Main-section-item a {
 width: 200px;
}
.Main-section-item a img {
  height: 200px;
  margin-bottom: 10px

}
.Main-section-item a h5 {
  color:white;
  text-align: center;
}
.Main-section-item a p {
  line-height: 30px;
  font-size: 13px;
  text-align: center;
}
  
#slash {
  position: relative;
}
#slash::after {
  content: "";
  display: block;
  height: 3px;
  width: 35px;
  background-color: #adff2f;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}

/* SOUNDBAR */

.sound-1,
.sound-2,
.sound-3,
.sound-2a,
.sound-2b {
  display: flex;
}
.sound-1 {
  padding:8px;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}
.sound-1a img {
  height: 60px;
}
.sound-1b {
  width: 100px;
}
.sound-1b a h6 {
  color: white;
  font-size: 13px;
}
.sound-1b a p {
  font-size:10px;
}
.sound-1c {
  color: #878787;
}
.sound-1c 
.sound-1c i {
  padding: 2px;
}
.sound-1, .sound-3 {
  width: 230px;
}


.sound-2 {
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% - 460px);
  
}

.sound-2a, .sound-2b {
  justify-content: center;
  align-items: center;
}
.sound-2a i {
  color: white;
  padding:10px 15px;
  font-size: 14px;
}

.sound-2b {
  font-size: 12px;
  padding-bottom: 15px;
  color: white;
}
.sound-2a .fa-play-circle {
  font-size: 35px;
}
.barra-2a, .barra-1a {
  width: 128px;
  height: 7px;
  border-radius: 5px;
  background-color: #5a5a5a;
}
.barra-2b, .barra-1b {
  width: 40px;
  height: 7px;
  border-radius: 5px;
  background-color: #c1c1c1;
}
.barra-1a {
  margin: 0 20px;
  width: 500px;
}
.barra-1b {
  width: 110px;
}
.sound-3 {
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  padding: 8px;
}
.sound-3 div i {
  color:white;
  font-size: 14px;
}