* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color:black;
    color: white;
}
img {
    height: 20px;
    
}
/* LAYOUT STRUCTURE */
.container, .container-aside, .container-main {
    border: 1px solid white;
}
.container {
    height: calc(100vh - 80px);
    display: flex;
    align-items: stretch;    
}
.container-aside {
    flex-basis: 20%;
}
.container-main {
    flex-basis: 80%;
}
.soundbar {
    border: 1px solid white;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.sound-1, .sound-2, .sound-3, .sound-2a, .sound-2b {
    display: flex;
}
.sound-2 {
    flex-direction: column;
}

.main-section {
    display: flex;
    flex-direction: column;
}
.main-section-1b {
    display:flex;
}
.Main-section-item {
    width: 200px;
}
/* ASIDE NAVIGATOR */
/* MUSIC SELECTOR */
/* SOUNDBAR */